@model psi_2022_oficinas.Models.Oficinas

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Oficinas</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Imagem)
        </dt>
        <dd class="col-sm-10">

            @if (!string.IsNullOrEmpty(Model.Imagem))
            {
                <a href="~/Images/@Model.Imagem" target="_top">

                    <img src="~/Images/@Model.Imagem"
                         alt="@Html.DisplayFor(modelItem => Model.Nome)"
                         title="@Model.Nome" height="100" />
                </a>
            }
            else
            {
                <img src="~/Images/@Model.Imagem"
                     alt="@Html.DisplayFor(modelItem => Model.Nome)"
                     title="@Model.Nome" height="50" />
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Morada)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Morada)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Localidade)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Localidade)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CodigoPostal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CodigoPostal)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NumTelemovel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumTelemovel)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Gestor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Gestor.Nome)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdOficina">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
